@media(min-width:600px){
    .top_navbar{
        box-shadow: 0 0 50px gray !important;
    }

    #top_actions_section{
        display: flex !important;
        align-items: center !important;
    }
}

.users_list_item.active .users_list_arrow_icon{
    transform: rotate(180deg);
}

.users_list_item.active , .users_list_item.active .collapsible-header{
    background-color: rgba(190, 185, 185, 0.322);
}

table.highlight > tbody > tr:hover {
    background-color: #bbdefb;
}

.container{
    width: 100% !important;
}

.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: -70vh;
}
.add_user_modal.show{
    box-shadow: 0 0 10px blue;
    bottom: 0;
}

.user_list_section{
    height: calc(100vh - 258px);
    overflow: auto;
}

.page_number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

